{
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "umd": {
      "presets": [
        "flow",
        [
          "env",
          {
            "modules": "umd"
          }
        ],
        "stage-0"
      ]
    },
    "module": {
      "presets": [
        "flow",
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0"
      ]
    },
    "es6": {}
  }
}
